@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito&family=Signika+Negative:wght@500&family=Ubuntu:wght@500&display=swap');* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "montserrat", sans-serif;
}

nav{
    background: white;
    height: 80px;
    width: 100%;
}

label.logo{
    font-family: "ubuntu", sans-serif;
    color: black;
    font-size: 25px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: 600;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(36, 32, 120);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: none;
    text-decoration: none !important;
}

a.active, a:hover{
    text-decoration: underline !important;
    transition: .5s
}

.checkbtn{
    font-size: 30px;
    color: #0558aa;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*Styling for free trial button on desktop*/
.freetrialbutton{
        background-color: #0558aa;
        color: white;
        padding: 7px 13px;
        font-size: 17px;
        border-radius: 5px;
}

/*Overides bootstrap hover color*/
.freetrialbutton:hover{
    color: white !important;
}

@media(max-width: 952px){
    label.logo{
        font-size: 25px;
        padding-left: 30px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width: 858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    /*Styling for freetrial button on mobile*/
    #freetrial{
        background-color: #0558aa;
        color: white;
        padding: 7px 13px;
        margin-right: 30px;
        font-size: 17px;
        border-radius: 5px;
        text-decoration: none !important;
    }

    #freetrial:hover{
        text-decoration: underline !important;
    }
    /*Makes free trial button on desktop disappear on mobile*/
    #navfreetrial{
        display: none;
    }
}

main{
    margin-top: 10px;
}

/*first section below navigation on homepage*/
.sec1{
    background: url(sec1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 13% 0 0 0;
    color: white;
    font-family: "Nunito", sans-serif;
}

/*First line of text on section below nav*/
.sech2 {
    font-size: 20px;
}
/*Second line of text on section below nav*/
.sec1h1{
    font-size: 50px;
    margin: auto;
    width: 70%;
}

.formdiv{
    background-color: white;
    margin: auto;
    margin-top: -100px;
    padding: 0 40px 20px 40px;
    width: 55%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.4);
}

@media(max-width: 780px) {
    .formdiv{
        width: 75%;
    }
}

.tryfree{
    margin: 0 -40px 0 -40px;
    background-color: #1a1a1a;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.email{
    margin: 20px 0 20px 0;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.inputp{
    width: 100%;
    margin-top: -10px;
}

.inputbox{
    width: 70%;
    border-radius: 5px;
    height: 40px;
}

.formbutton{
    background-color: rgba(108, 78, 109, 0.7);
    margin: 0 0 20px 10px;
    padding: 8px 26px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: solid 0px;
    border-radius: 5px;
}

.formbutton:hover {
    cursor: pointer;
    background-color: rgb(108, 78, 109);
}

@media(max-width: 858px) {
    .sec1h1{
        display: none;
    }

    .sech2{
        font-weight: bold;
        font-size: 50px;
    }
}

@media(max-width: 1000px) {
    .inputbox{
        display: block;
        width: 100%;
    }
    .formbutton {
        display: block;
        width: 100%;
        margin: 15px 0 20px 0;
    }
    .tryfree{
        font-size: 15px;
    }
}

.clipartdiv{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;

}